<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xyan.api.mapper.BlogMapper">
    <resultMap id="BaseResultMap" type="com.xyan.api.model.BlogModel">
        <id column="id" property="id"  />
        <result column="type_id" property="typeId"  />
        <result column="type_name" property="typeName"  />
        <result column="title" property="title"  />
        <result column="read_count" property="readCount"  />
        <result column="content" property="content" />
        <result column="content_text" property="contentText" />
        <result column="createTime" property="createTime" />
        <result column="updateDate" property="updateDate" />
        <result column="status" property="status" />
        <result column="introduce" property="introduce" />
        <result column="label" property="label" />
    </resultMap>
  	<!-- 根据主键删除对象 -->
  	<delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
  		delete from t_blog_aticle where id=#{id}
  	</delete>
  	
  	<!-- 批量更新状态 -->
  	<update id="batchUpdateStatus" parameterType="java.util.Map" >  
	    UPDATE T_BLOG_ATICLE SET STATUS = #{status} WHERE id IN   
	    <foreach collection="idList" index="index" item="item" open="(" separator="," close=")">   
	        #{item}   
	    </foreach>  
	</update>  
  	
  	<!-- 插入单个记录 -->
  	<insert id="insert" parameterType="com.xyan.api.model.BlogModel" >
		insert  into t_blog_aticle 
		<trim prefix="(" suffix=")" suffixOverrides="," >
		 	ID,
		 	<if test="typeId != null and typeId != ''" >
		        TYPE_ID,
		    </if>
		    <if test="typeName != null" >
		        TYPE_NAME,
		    </if>
		    <if test="title != null" >
		        TITLE,
		    </if>
		    <if test="content != null" >
		        CONTENT,
		    </if>
		    <if test="contentText != null" >
		        CONTENT_TEXT,
		    </if>
		    <if test="createTime != null" >
		        CREATETIME,
		    </if>
		    <if test="updateDate != null" >
		        UPDATEDATE,
		    </if>
		    <if test="readCount != null" >
		        READ_COUNT,
		    </if>
		    <if test="status != null" >
		        STATUS,
		    </if>
		    <if test="introduce != null" >
		        INTRODUCE,
		    </if>
		    <if test="label != null" >
		        LABEL,
		    </if>
		</trim>			
		<trim prefix="values (" suffix=")" suffixOverrides="," >
		 	#{id},
         	<if test="typeId != null and typeId != ''" >
		        #{typeId},
		    </if>
		    <if test="typeName != null" >
		        #{typeName},
		    </if>
		    <if test="title != null" >
		        #{title},
		    </if>
		    <if test="content != null" >
		        #{content},
		    </if>
		    <if test="contentText != null" >
		        #{contentText},
		    </if>
		    <if test="createTime != null" >
		         #{createTime},
		    </if>
		    <if test="updateDate != null" >
		        #{updateDate},
		    </if>
		    <if test="readCount != null" >
		        #{readCount},
		    </if>
		    <if test="status != null" >
		        #{status},
		    </if>
		    <if test="introduce != null" >
		        #{introduce},
		    </if>
		    <if test="label != null" >
		        #{label},
		    </if>
		 </trim> 
  	</insert>
  	
  	<!-- 更新单个记录 -->
	<update id="update" parameterType="com.xyan.api.model.BlogModel">
		update t_blog_aticle 		
		<set>
			<trim  prefixOverrides=",">
				<if test="id !=null">,  ID =#{id}</if>
				<if test="readCount !=null">,  read_count =#{readCount}</if>
				<if test="typeId !=null">,  TYPE_ID =#{typeId}</if>
				<if test="typeName !=null">,  TYPE_NAME =#{typeName}</if>
				<if test="title !=null">,  TITLE =#{title}</if>
				<if test="content !=null">, CONTENT =#{content}</if>
				<if test="contentText !=null">, CONTENT_TEXT =#{contentText}</if>
				<if test="createTime !=null ">,  CREATETIME =#{createTime}</if>
				<if test="updateDate !=null">,  UPDATEDATE =#{updateDate}</if>
				<if test="status !=null">,  STATUS =#{status}</if>
				<if test="introduce !=null">,  INTRODUCE =#{introduce}</if>
				<if test="label !=null">,  LABEL =#{label}</if>
			</trim>
		</set> 		
		where  ID=#{id} 	
	</update>
    
  	<!-- 根据主键查询 -->
  	<select id="selectByPrimaryKey" resultType="com.xyan.api.model.BlogModel"  parameterType="java.lang.String">
  		select * from t_blog_aticle where id=#{id}
  	</select>
  	
  	<!-- 上一篇，下一篇查询 -->
  	<select id="selectOther" resultType="com.xyan.api.model.BlogModel"  parameterType="java.util.Map">
  		SELECT * FROM T_BLOG_ATICLE BLOG LEFT JOIN T_PARAM_TYPE TYPE
		ON BLOG.TYPE_ID=TYPE.ID 
		<where>
			<!-- 前端 -->
			<if test="typeFlag ==2"> type.ID='20' or type.PID='20' </if>
			<!-- 后端 -->
			<if test="typeFlag ==1"> type.ID='10' or type.PID='10' </if>
	  		<if test="flag==1"> AND BLOG.UPDATEDATE &lt; #{updateDate}</if>
	  		<if test="flag!=1"> AND BLOG.UPDATEDATE &gt; #{updateDate}</if>
		</where>
  		 LIMIT 0,1
  	</select>
  	
  	<!-- 根据例子查询 -->
  	<select id="selectByExample"  resultType="com.xyan.api.model.BlogModel" parameterType="java.util.Map">
  		SELECT BLOG.* FROM T_BLOG_ATICLE BLOG LEFT JOIN T_PARAM_TYPE TYPE
  		ON BLOG.TYPE_ID=TYPE.ID
  		<where>
  			type.value='blog'
  			<!-- 前端 -->
			<if test="typeFlag ==2"> AND type.ID='20' or type.PID='20' </if>
			<!-- 后端 -->
			<if test="typeFlag ==1"> AND type.ID='10' or type.PID='10' </if>
			
  			<if test="typeId !=null"> AND BLOG.TYPEID =#{typeId}</if>
  			<if test="typeName !=null"> AND INSTR(BLOG.TYPE_NAME ,#{typeName})>0 </if>
  			<if test="label !=null"> AND INSTR(BLOG.LABEL ,#{label})>0 </if>
  			<if test="title !=null"> AND INSTR(BLOG.TITLE,#{title})>0 </if>
  			<if test="typeId !=null"> AND BLOG.TYPE_ID =#{typeId}</if>
  			<if test="status !=null"> AND BLOG.STATUS =#{status}</if>
  		</where>
  		ORDER BY BLOG.UPDATEDATE DESC
  	</select>
  	
  	<!-- 计数查询 -->
  	<select id="countByExample"  resultType="java.lang.Integer" parameterType="java.util.HashMap">
  		select count(1) from t_blog_aticle
  		<where>
  			<if test="typeId!=null"> and typeId =#{typeId}</if>
  			<if test="typeName!=null"> and instr(type_name ,#{typeName})>0 </if>
  			<if test="title!=null"> and instr(title,#{title})>0 </if>
  			<if test="typeId!=null"> and type_id =#{typeId}</if>
  			<if test="status!=null"> and status =#{status}</if>
  		</where>
  	</select>
  	
</mapper>