<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xyan.api.mapper.TypeMapper">

    <resultMap id="BaseResultMap" type="com.xyan.api.model.TypeModel">
        <id column="id" property="id"  />
        <result column="name" property="name"  />
        <result column="pname" property="pName"  />
        <result column="pid" property="pId"  />
        <result column="createTime" property="createTime" />
        <result column="updateDate" property="updateDate" />
    </resultMap>
  	
  	<!-- 根据主键删除对象 -->
  	<delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
  		DELETE FROM T_PARAM_TYPE WHERE id=#{id}
  	</delete>
  	
  	
  	<!-- 插入单个记录 -->
  	<insert id="insert" parameterType="com.xyan.api.model.TypeModel" >
		INSERT  INTO T_PARAM_TYPE 
		<trim prefix="(" suffix=")" suffixOverrides="," >
		 	ID,
		 	<if test="name != null and name != ''" >
		        NAME,
		    </if>
		    <if test="pname != null" >
		        PNAME,
		    </if>
		    <if test="pId != null" >
		        PID,
		    </if>
		    <if test="createTime != null" >
		        CREATETIME,
		    </if>
		    <if test="updateDate != null" >
		        UPDATEDATE,
		    </if>
		</trim>			
		<trim prefix="values (" suffix=")" suffixOverrides="," >
		 	#{id},
         	<if test="name != null and name != ''" >
		        #{name},
		    </if>
		    <if test="pName != pName" >
		        #{pName},
		    </if>
		    <if test="pId != null" >
		        #{pId},
		    </if>
		    <if test="createTime != null" >
		         #{createTime},
		    </if>
		    <if test="updateDate != null" >
		        #{updateDate},
		    </if>
		 </trim> 
  	</insert>
  	
  	<!-- 更新单个记录 -->
	<update id="update" parameterType="com.xyan.api.model.TypeModel">
		UPDATE T_PARAM_TYPE 		
		<set>
			<trim  prefixOverrides=",">
				<if test="id !=null">,  ID=#{id}</if>
				<if test="name !=null">,  NAME=#{name}</if>
				<if test="pName !=null">,  PNAME=#{pName}</if>
				<if test="pId !=null">,  PID=#{pId}</if>
				<if test="createTime !=null ">,  CREATETIME=#{createTime}</if>
				<if test="updateDate !=null">,  UPDATEDATE=#{updateDate}</if>
			</trim>
		</set> 		
		WHERE  ID=#{id} 	
	</update>
    
  	<!-- 根据主键查询 -->
  	<select id="selectByPrimaryKey" resultType="com.xyan.api.model.TypeModel"  parameterType="java.lang.String">
  		SELECT * FROM T_PARAM_TYPE WHERE ID=#{id}
  	</select>
  	
  	
  	<!-- 根据例子查询 -->
  	<select id="selectByExample"  resultType="com.xyan.api.model.TypeModel" parameterType="java.util.HashMap">
  		SELECT * FROM T_PARAM_TYPE
  		<where>
  			<if test="pId !=null"> AND PID =#{pId}</if>
  			<if test="pName !=null"> AND instr(PNAME ,#{pName})>0 </if>
  			<if test="name !=null"> AND instr(NAME,#{name})>0 </if>
  		</where>
  		ORDER BY UPDATEDATE DESC
  	</select>
  	
  	<!-- 计数查询 -->
  	<select id="countByExample"  resultType="java.lang.Integer" parameterType="java.util.HashMap">
  		SELECT COUNT(1) FROM T_PARAM_TYPE
  		<where>
  			<if test="pId !=null"> AND PID =#{pId}</if>
  			<if test="pName !=null"> AND instr(PNAME ,#{pName})>0 </if>
  			<if test="name !=null"> AND instr(NAME,#{name})>0 </if>
  		</where>
  	</select>
  	
</mapper>