<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xyan.api.mapper.VisitMapper">
   <resultMap id="BaseResultMap" type="com.xyan.api.model.VisitModel">
        <id column="id" property="id"  />
        <result column="ip" property="ip"/>
        <result column="mac" property="mac"  />
        <result column="state" property="state"  />
        <result column="url" property="url"  />
        <result column="QUERYSTRING" property="queryString"  />
        <result column="LASTTIME" property="lasttime" />
        
    </resultMap>
    
    <select id="selectByExample"  resultType="com.xyan.api.model.VisitModel" parameterType="java.util.HashMap">
  		SELECT v.* FROM T_VISIT v 
  		<where>
  			<if test="ip !=null"> AND v.ip =#{ip}</if>
  			<if test="mac !=null"> AND v.mac =#{mac}</if>
  			<if test="state !=null and state !=''"> AND v.state =#{state} </if>
  			<if test="url !=null"> AND instr(v.url, #{url})>0 </if>
  		</where>
  		order by v.LASTTIME desc
  	</select>
  	
  	<!-- 插入单个记录 -->
  	<insert id="insert" parameterType="com.xyan.api.model.UserModel" >
		insert  into T_VISIT 
		<trim prefix="(" suffix=")" suffixOverrides="," >
		 	ID,
		 	<if test="ip != null and ip != ''" >
		        IP,
		    </if>
		    <if test="mac != null" >
		        MAC,
		    </if>
		    <if test="state != null" >
		        STATE,
		    </if>
		    <if test="lastTime != null" >
		        LASTTIME,
		    </if>
		    <if test="url != null" >
		        URL,
		    </if>
		    <if test="queryString != null" >
		        QUERYSTRING,
		    </if>
		</trim>			
		<trim prefix="values (" suffix=")" suffixOverrides="," >
		 	#{id},
         	<if test="ip != null and ip != ''" >
		        #{ip},
		    </if>
		    <if test="mac != null" >
		        #{mac},
		    </if>
		    <if test="state != null" >
		        #{state},
		    </if>
		    <if test="lastTime != null" >
		        #{lastTime},
		    </if>
		    <if test="url != null" >
		        #{url},
		    </if>
		    <if test="queryString != null" >
		        #{queryString},
		    </if>
		 </trim> 
  	</insert>
  	
  	 	<!-- 根据主键删除对象 -->
  	<delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
  		delete from T_VISIT where id=#{id}
  	</delete>
  	
  	<!-- 更新单个记录 -->
	<update id="update" parameterType="com.xyan.api.model.UserModel">
		update T_VISIT 		
		<set>
			<trim  prefixOverrides=",">
				<if test="ip !=null">,  IP =#{ip}</if>
				<if test="mac !=null">,  MAC =#{mac}</if>
				<if test="url !=null">,  URL =#{url}</if>
				<if test="queryString !=null">,  QUERYSTRING =#{queryString}</if>
				<if test="state !=null">,  STATE =#{state}</if>
				<if test="lastTime !=null">,  LASTTIME =#{lastTime}</if>
			</trim>
		</set> 		
		where  ID=#{id} 	
	</update>
	<!-- 批量更新 -->
	<update id="updateList"  parameterType="java.util.List">
       <foreach collection="list" item="item" index="index" open="" close="" separator=";">
       	UPDATE T_VISIT 
       	<set>
       		<trim  prefixOverrides=",">
				<if test="item.ip !=null">,  IP =#{item.ip}</if>
				<if test="item.mac !=null">,  MAC =#{item.mac}</if>
				<if test="item.url !=null">,  URL =#{item.url}</if>
				<if test="item.queryString !=null">,  QUERYSTRING =#{item.queryString}</if>
				<if test="item.state !=null">,  STATE =#{item.state}</if>
				<if test="item.lastTime !=null">,  LASTTIME =#{item.lastTime}</if>
			</trim>
		</set>
		where  ID=#{item.id}  
       </foreach>
    </update>
</mapper>