<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xyan.frame.security.dao.ResourceDao">

	<sql id="Base_Column_List">
		ID as "id"
		, PID as "pId"
		, RESOURCE_NAME as "resourceName"
		, ICON as "icon"
		, ICON_BACK as "iconBack"
		, URL as "url"
		,LEVEL as "level"
		, AVAILABLE as "available"
		, PERMISSION as "permission"
	</sql>

	<select id="selectByPrimaryKey" resultType="com.xyan.frame.security.model.ResourceModel"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from xy_resource
		where
		ID=#{id}
	</select>

	<select id="selectByExample" resultType="com.xyan.frame.security.model.ResourceModel"
		parameterType="com.xyan.frame.security.model.ResourceModel">
		select
		<include refid="Base_Column_List" />
		from xy_resource
		<where>
			<if test="id!=null">and ID=#{id}</if>
			<if test="pId !=null">and PID=#{pId}</if>
			<if test="resourceName !=null">and RESOURCE_NAME=#{resourceName}</if>
			<if test="url !=null">and URL=#{url}</if>
			<if test="level !=null">and LEVEL=#{level}</if>
			<if test="permission !=null">and PERMISSION=#{permission}</if>
			<if test="available!=null">and AVAILABLE=#{available}</if>
		</where>
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from xy_resource
		where ID=#{id}
	</delete>


	<insert id="insert" parameterType="com.xyan.frame.security.model.ResourceModel">
		insert into xy_resource
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">ID,</if>
			<if test="pId != null">PID,</if>
			<if test="resourceName != null">RESOURCE_NAME,</if>
			<if test="icon != null">ICON,</if>
			<if test="iconBack != null">ICON_BACK,</if>
			<if test="url != null">URL,</if>
			<if test="permission != null">PERMISSION,</if>
			<if test="available != null">AVAILABLE,</if>
			<if test="level != null">LEVEL,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">#{id},</if>
			<if test="pId != null">#{pId},</if>
			<if test="resourceName != null">#{resourceName},</if>
			<if test="icon != null">#{icon},</if>
			<if test="iconBack != null">#{iconBack},</if>
			<if test="url != null">#{url},</if>
			<if test="permission != null">#{permission},</if>
			<if test="available != null">#{available},</if>
			<if test="level != null">#{level},</if>
		</trim>
	</insert>

	<update id="update" parameterType="com.xyan.frame.security.model.ResourceModel">
		update xy_resource
		<set>
			<if test="id != null">ID =#{id},</if>
			<if test="pId != null">PID =#{pId},</if>
			<if test="resourceName != null">RESOURCE_NAME =#{resourceName},</if>
			<if test="icon != null">ICON =#{icon},</if>
			<if test="iconBack != null">ICON_BACK =#{iconBack},</if>
			<if test="url != null">URL =#{url},</if>
			<if test="permission != null">PERMISSION =#{permission},</if>
			<if test="available != null">AVAILABLE =#{available},</if>
			<if test="level != null">LEVEL =#{level},</if>
		</set>
		where ID=#{id}
	</update>


	<delete id="deleteByIds" parameterType="java.lang.Long">
		delete from xy_resource t where
		ID
		in
		<foreach collection="list" item="item" index="index" open="("
			close=")" separator=",">
			#{item}
		</foreach>
	</delete>

	<select id="queryRoleResource" parameterType="com.xyan.frame.security.model.RoleModel">
		SELECT PERMISSION from xy_resource  res LEFT JOIN xy_role_resource  rres on res.ID=rres.RESOURCE_ID
		where rres.ROLE_ID in 
		<foreach collection="list" item="item" index="index" open="("
			close=")" separator=",">
			#{item.roleId}
		</foreach>
		
	</select>
</mapper>